* , body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

.container-row {
    display : flex ;
    justify-content: center;
}
.container-column {
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.content {
    width: 75%;
}
.red-background {
    background-color: rgb(192, 41, 41);
}
#hero {
    height: 30vh;
    align-items: center;
    font-size: 35px;
    border-bottom: 2px black solid;
}

#draw-table {
    flex : 2;
}
#draw-table-space {
    width: 75%;
    align-items: flex-start;
    > * {
        margin-top: 20px;
    }
}
#attach-rows {
    justify-content: flex-start;
}
.draw-table-rows {
    display: flex;
}

.square {
    width: 20px;
    height: 20px;
    flex : 1 ;
    border: 1px black solid;
}
.white-background {
    background-color: bisque;
}
.black-background {
    background-color: rgb(24, 24, 24); ;
}

#aside-panel {
    flex : 1 ;
}
#aside-panel-color-selected {
    margin : 5% 20% ;
} 
#selected-color{
    background-color: bisque;
    width: 60px;
    height: 60px;
}

#aside-panel-color-selector{
    margin : 5% 20% ;
}
#aside-panel-color-selector ul {
    list-style-type: none;
}
.colors{
    height: 60px;
    width: 60px;
}
#black {
    background-color: black;
    color : white;
}
#red {
    background-color: red;
}
#white {
    background-color: antiquewhite;
}
